*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}

body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
a{text-decoration: none;}
ul{list-style: none; padding: 0;}
button{cursor: pointer;}
:disabled{cursor: not-allowed;}

.container{
    margin: auto;
    max-width: 1200px;
    padding: 0 25px;}

/*12 grids  */
.row{display: flex;
     flex-flow: row wrap;
     margin: 0 -15px;}

.data{display: flex;
     flex-flow: row wrap;
     margin: 15px 20px;
    padding: 0px;}

/* .row [class^="col"] {
    flex: 1 0 auto;
    padding: 0 15px;} */

.row .col-2{flex-basis: 16.66%; max-width: 16.66%;}

.row .col-4{flex-basis: 33.33%; max-width: 33.33%;}
.data .col-44{flex-basis: 33.33%; max-width: 33.33%; margin: 15px 0px; background: rgb(244, 238, 238);}

.row .col-6{flex-basis: 50%; max-width: 50%;}

.row .col-10{flex-basis: 83.33%; max-width: 83.33%;}

.flex{display: flex;}
.align-center{ align-items: center;}
.justify-right{justify-content: right;}

/*  layout  */
.wrap-1{background: rgb(78, 40, 40); color: #fff; position: sticky; top: 0; z-index: 100; }

.col-2 h2 {position: fixed; z-index: 99; }
.col-2 ul {position: fixed; top: 6rem; z-index: 98; }

header h1{font-size: 32px; line-height: 60px;}
header input{background: transparent; color: azure; border-radius: 5px;padding: 5px 45px 5px 5px; border: 1px solid #fff; height: 25px;font-size: 15px;}
header label{position: relative;}
header label::after
{
    content: '\1F50D';
    position: absolute;
    right: 5px;}

nav{margin-left: -20px;}
nav ul{display: flex;}
nav ul li{margin: 15px 5px;}
nav ul li a{display: block; padding: 0 15px; color: #fff;}
nav ul li a:hover{color:rgb(78, 40, 40); background: #fff}
nav ul li a.active{ border-bottom: 2px solid #fff;}    

.wrap-2{background: rgb(255, 254, 254); padding: 5px 0;}

.wrap-3{background: rgb(18, 16, 16);}

img{vertical-align: bottom; max-width: 100%; transition: 0.5s;}
img:hover
{
    transform: scale(1.2);
    transition: 500 ease-in-out;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}

.data .col-44 .img_div{margin: 20px;box-shadow: 0 0 8px gray; overflow: hidden;}

.gap{padding: 10px;}
.red{color: rgb(186, 60, 60);}
.blue{color: rgb(7, 106, 145);}

.col-2 ul li{margin-top:10px ; /*padding-r0ight: 30px; border-right: #ca3c3c 1px solid; border-right-width: 2px;*/}

.btn button{width: 100%; height: 40px;background: rgb(227, 39, 79); font-size: 20px;border: none; border-radius: 5px;color: white;}
.cart{margin-left: 5px;}
.cart .btn{color: #fff;font-size: 28px; background: transparent;border: none;}

.mob{ width: 50px; height: 35px; border: 1px solid; color: #ca3c3c; background: rgb(250, 244, 244); border-radius: 10px; font: 400 16px proxima, sans-serif; display: none; }
.mob span{ display: block; width: 40px; height: 2px; background: #ca3c3c; margin: 5px auto; }
.mob span{ transform-origin: right center; transition: 0.5s; }
.mob.active span:nth-child(1){ transform: rotate(-21deg);}
.mob.active span:nth-child(2){ opacity: 0; }
.mob.active span:nth-child(3){ transform: rotate(21deg)}

.single-product{font-size: 20px;padding: 20px 5px 5px 5px;}
.P_search{height: 25px;}

.top{ position: fixed; right: 5px; bottom: 5px;}

/*OTHER Features*/
.gap h3{
    height: 57px;
    color: darkorchid;
    transition: width 1200ms;
    margin: 2px; overflow:hidden;}

p{margin: 2px; color: brown;}

.col-44 .gap p.blue{
        /* text-overflow: ellipsis; */
        /* white-space: nowrap; */
        height: 90px;
        color: teal;
        margin: 2px; overflow:hidden;}

.col-44 .gap p.blue:hover{
    height: 210px;
}

.wrap-3 footer p{text-align: center; color: #fa7c30; padding: 40px 0 20px;font-size: 14px; line-height: 30px;}

.top{position: relative;
    top: 0;
    display: block;}

.top.active a{opacity: 1;
        top: 90%;}

.top a{ border-radius: 50%;
position: fixed;
bottom: 20px;
right: 20px;
border: 2px solid #fecc2f;
background-color: #fe902f;
width: 40px;
height: 40px;
line-height: 36px;
text-align: center;
font-size: 24px;
z-index: 100;
color: #fff;
top: 0;
opacity: 0;
transition: all .8s linear 0s;}

.top a::after{
    border-radius: 50%;
z-index: -1;
content: "";
position: absolute;
left: -2px;
top: -2px;
width: 40px;
height: 40px;
animation: ripple 1.6s ease-out infinite;
opacity: 1;
background: #2c62de;
}
@keyframes ripple{0%{transform:scale(0);opacity:1}100%{transform:scale(1.5);opacity:0}};

.btn{width: auto;
    height: 30px;
    background: brown;
    color:  cornsilk;
    border-radius: 5px;
    text-align: center;
    padding: 3px 6px;
    margin: 5px 5px;
    display: inline-block;
    vertical-align: bottom;
    }
.btn:hover{ background: #ccc; color: brown; }

.loader1{position: absolute; top: 100px; left: 37%; translate: (-50%); display: none;}
.loader2{position: absolute; top: 100px; left: 54%; translate: (-50%); display: none;}
.loader3{position: absolute; top: 100px; left: 81%; translate: (-50%); display: none;}

.wrap-2 .row{min-height: 600px;}

@media screen  and (max-width:1220px){       
    h2{ font-size: 62px;}
}

@media screen  and (max-width:980px){   
     h2{ font-size: 62px;}    
    .row .col-t-6{flex-basis: 50%;max-width: 50%;}
    .row .col-t-12{flex-basis: 100%;max-width: 100%;}
    .row .col-t-hide{ display: none; }
    .row .col-t-auto{ flex-basis: 20%; max-width: 20%;}
}

@media screen and (max-width:767px){    
    .collapse{ display: none; position: absolute; top: 62px; left: 0; right: 0; background: transparent; text-align: right; padding-bottom: 0px !important; }
    .collapse1{ display: none; position: absolute; top: 62px; left: 0; right: 0; background: transparent; text-align: right; padding-bottom: 0px !important; }

    .col-t-flex{ display: grid; justify-content: right; align-items: center;}

    .mob{ display: block;}
    nav ul{display: block; flex-direction: column;}
    nav ul li a
    {
        color: tomato;
        border: 2px solid brown;
        line-height: 24px;
        background-color: gainsboro;
    }
    
    .row .col-m-6{flex-basis: 50%;max-width: 50%;}
    .row .col-m-12{flex-basis: 100%;max-width: 100%;}
    
    .box{ font-size: 16px;}
    h2{ font-size: 54px;}
    h3{font-size: 46px;}
}

@media screen  and (max-width:460px){
    
    header h1{font-size: 32px;}

    h2{font-size: 30px;}
    h3{font-size: 26px;}
    
    .wrap-1{margin: 0px; padding: 0px 0px; justify-items: flex-end;}
    .collapse{ display: none; position: absolute; top: 62px; left: 0; right: 0; background: transparent; text-align: right; padding-bottom: 0px !important; }
    .collapse1{ display: none; position: absolute; top: 62px; left: 0; right: 0; background: transparent; text-align: right; padding-bottom: 0px !important; }
    .collapse2{ display: none; position: absolute; top: 62px; left: 0; right: 0; background: transparent; text-align: right; padding-bottom: 0px !important; }

    .data{margin: 0 0;}
    
    .gap h3 {height: 76px;}
    .col-44 .gap p.blue{height: 75px;}
    .gap .blue a{font-size: 18px;}

    .wrap-2 .col-2 {display: none;}
    
    .row .col-p-4{flex-basis: 33.33%; max-width: 33.33%;}
    .row .col-p-6{flex-basis: 50%; max-width: 50%;}
    .row .col-p-10{flex-basis: 83.33%; max-width: 83.33%;}
    .row .col-p-12{flex-basis: 100%; max-width: 100%;}
    /* .wrap-2 p{ font-size: 24px;} */
    .col-t-flex{flex-basis: 80%}
}
